/* *************************************flex-direction************************************* */
.container {
  display: flex;
  flex-direction: column;
}

/* *************************************justify-content************************************* */
.content {
  display: flex;
  justify-content: space-around;
}

/* *************************************align-items************************************* */
.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  background-color: antiquewhite;
}

/* *************************************align-content************************************* */
.align {
  display: flex;
  height: 300px;
  align-content: center;
  gap: 10px;
  background-color: aqua;
  flex-wrap: wrap;
}

/* *************************************flex-grow/flex-shrink************************************* */
.flex {
  display: flex;
  width: 80%;
  gap: 10px;
}

.btn {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: aquamarine;
  border: none;
  cursor: pointer;
}

.btn1 {
  flex-grow: 1;
  flex-shrink: 1;
}

.btn2 {
  flex-grow: 2;
  flex-shrink: 1;
}

.btn3 {
  flex-grow: 0;
  flex-shrink: 0;
}
