/* **********************************************************::before***************************************************** */
p::before {
    content: "Note: ";
}

/* **********************************************************::after***************************************************** */
p::after {
    content: " - End of paragraph.";
}

/* **********************************************************::first-line***************************************************** */
p::first-line {
    background-color: lightpink;
    font-weight: bold;
}

/* **********************************************************::first-letter***************************************************** */
p::first-letter {
    font-size: 2em;
    color: blue;
    font-weight: bold;
}

/* **********************************************************::placeholder***************************************************** */
input::placeholder {
    color: grey;
    font-style: italic;
}

/* **********************************************************::selection***************************************************** */
p::selection {
    background-color: yellow;
    color: black;
}

/* **********************************************************::marker***************************************************** */
li::marker {
    color: green;
    font-size: 1.5em;
}